<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= pergunta.title %> </h1> 
        <p><%= pergunta.description %> </p>
        <hr>
        <form action="">
            <h3>Responta</h3>
            <label for="">Resposta</label>
            <textarea placeholder="Digite sua resposta" name="corpo" class="form-control"></textarea>
            <br>    
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
